body{
    text-align: center;
}

.btn{
    width: 200px;
    height: 200px;
    border: solid black 0.5rem;
    border-radius: 2rem;
    margin: 2rem;
}

.btn-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

#red{
    background: red;
}

#yellow{
    background: yellow;
}

#pink{
    background: pink;
}

#blue{
    background: blue;
}

